<ng-container *ngIf="(audioModules$ | async) as audioModules">
  <app-audio-module-list
    [modules]="audioModules"
    [sourceModules]="audioModules"
    [audioOutputEnabled]="outputEnabled$ | async"
    (createOscillator)="addOscillator()"
    (createGainModule)="addGainModule()"
    (createDelayModule)="addDelayModule()"
    (createFilterModule)="addFilterModule()"
    (createDistortionModule)="addDistortionModule()"
    (createRectifierModule)="addRectifierModule()"
    (createConstantSource)="addConstantSource()"
    (connectModules)="connectModules($event)"
    (disconnectModules)="disconnectModules($event)"
    (toggleAudioOutputEnabled)="toggleOutputEnabled($event)"
    (deleteModule)="deleteModule($event)"
  ></app-audio-module-list>
</ng-container>
