<ng-container *ngIf="(audioModules$ | async) as audioModules">
  <app-audio-module-list
    [modules]="audioModules"
    [sources]="(sources$ | async)"
    [audioOutputEnabled]="outputEnabled$ | async"
    (createModule)="addModule($event)"
    (connectModules)="connectModules($event)"
    (disconnectModules)="disconnectModules($event)"
    (toggleAudioOutputEnabled)="toggleOutputEnabled($event)"
    (deleteModule)="deleteModule($event)"
    (resetSignalChain)="resetSignalChain()"
    (reorderModules)="reorderModules($event)"
  ></app-audio-module-list>
</ng-container>
