<ng-container *ngIf="(audioModules$ | async) as audioModules">
  <app-audio-module-list
    [modules]="audioModules"
    [sourceModules]="audioModules"
    [audioOutputEnabled]="outputEnabled$ | async"
    (createModule)="addModule($event)"
    (connectModules)="connectModules($event)"
    (disconnectModules)="disconnectModules($event)"
    (toggleAudioOutputEnabled)="toggleOutputEnabled($event)"
    (deleteModule)="deleteModule($event)"
    (resetSignalChain)="resetSignalChain()"
  ></app-audio-module-list>
</ng-container>
