<div class="field">
  <label class="label">
    <span class="parameter-name">{{ parameter.name }}</span>
    <div class="control">
      <div class="select is-fullwidth">
        <select (change)="changeSelection($event.target.value)">
          <option
            *ngFor="let option of parameter.choices"
            value="{{option}}"
            [selected]="parameter.selection === option"
          >
            {{ option }}
          </option>
        </select>
      </div>
    </div>
  </label>
</div>
