<app-help-message><p>You may need to click unmute to get started. Due to some browsers' autoplay policies, the app is not always allowed to start playing audio immediately.</p></app-help-message>
<div class="level">
  <div class="buttons">
    <button
      class="button"
      (click)="toggleAudioOutputEnabled.emit(!audioOutputEnabled)"
    >
      {{ audioOutputEnabled ? 'Mute' : 'Unmute' }}
    </button>
    <button class="button" (click)="resetSignalChain.emit()" title="Reset to an empty signal chain">New patch</button>
    <app-toggle-help></app-toggle-help>
  </div>
</div>
<app-help-message>
  <p>
    This is a modular synth that allows you to build up your own signal chain.
  </p>
  <p>Use the buttons below to add modules, then connect them together.</p>
</app-help-message>
<h2 class="title is-3">Add Modules</h2>
<div class="level">
  <div class="buttons">
    <button class="button" (click)="createOscillator()">
      Add Oscillator
    </button>
    <button class="button" (click)="createNoiseGenerator()">
      Add Noise Generator
    </button>
    <button class="button" (click)="createConstantSource()">
      Add Constant Source
    </button>
    <button class="button" (click)="createGainModule()">
      Add Gain
    </button>
    <button class="button" (click)="createInverseGainModule()">
      Add Inverse Gain
    </button>
    <button class="button" (click)="createBitCrusher()">
      Add Bit Crusher
    </button>
    <button class="button" (click)="createDelayModule()">
      Add Delay
    </button>
    <button class="button" (click)="createFilterModule()">
      Add Filter
    </button>
    <button class="button" (click)="createDistortionModule()">
      Add Distortion
    </button>
    <button class="button" (click)="createRectifierModule()">
      Add Rectifier
    </button>
    <button class="button" (click)="createEnvelopeGeneratorModule()">
      Add Envelope Generator
    </button>
    <button class="button" (click)="createClockDividerModule()">
      Add Clock Divider
    </button>
    <button class="button" (click)="createControlSurfaceModule()">
      Add Control Surface
    </button>
    <button class="button" (click)="createMonoMidiInput()">
      Add Mono Midi Input
    </button>
  </div>
</div>
<h2 class="title is-3">Signal Chain</h2>
<app-errors-shell></app-errors-shell>
<app-help-message>
  <p>
    Modules either produce or process signals based on some parameters.
  </p>
  <p>
    A module's input and parameters may be connected to the output from one or more other modules.
  </p>
  <p>If multiple connections end at the same point, the signals are summed.</p>
</app-help-message>

<div class="columns is-multiline">
  <div
    class="column is-one-fifth-fullhd is-one-quarter-widescreen is-one-third-desktop is-half-tablet"
    *ngFor="let module of modules; trackBy: getModuleId"
  >
    <app-audio-module
      [module]="module"
      [availableSourceModules]="sources"
      (connectSourceModule)="connectModules.emit($event)"
      (disconnectSourceModule)="disconnectModules.emit($event)"
      (deleteModule)="deleteModule.emit($event)"
      (changeModuleName)="changeModuleName.emit($event)"
      (activateControlSurface)="activateControlSurface.emit($event)"
    ></app-audio-module>
  </div>
</div>
