<div class="box is-fullheight">
  <button
    *ngIf="canDelete"
    type="button"
    class="delete is-pulled-right"
    (click)="deleteNode.emit(nodeId)"
  ></button>

  <div class="content">
    <h3 class="title is-5">{{ nodeId }}</h3>
  </div>
  <ng-container *ngIf="numberInputs">
    <div class="content" *ngIf="connectedSourceNodes?.length">
      <div class="label">Connected inputs</div>
      <ul>
        <li *ngFor="let sourceNode of connectedSourceNodes">
          <span class="tag"
            >{{ sourceNode }}
            <button
              class="delete is-small"
              type="button"
              (click)="disconnectNode(sourceNode)"
            ></button
          ></span>
        </li>
      </ul>
    </div>
    <form [formGroup]="connectNodeForm" (ngSubmit)="submitNodeConnectionForm()">
      <div class="field">
        <div class="control is-expanded">
          <div class="select is-fullwidth">
            <select
              name="new-input"
              id="{{ nodeId }}-new-input"
              formControlName="selectedSourceNode"
              (change)="submitNodeConnectionForm()"
            >
              <option value="" disabled selected hidden>Add Node Input</option>
              <option *ngIf="!availableSourceNodes?.length && connectedSourceNodes?.length" value="" disabled>No more nodes available</option>
              <option *ngIf="!availableSourceNodes?.length && !connectedSourceNodes?.length" value="" disabled>No other nodes in graph</option>
              <option
                *ngFor="let sourceNode of availableSourceNodes"
                value="{{ sourceNode }}"
              >
                {{ sourceNode }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </form>
  </ng-container>

  <app-parameters-shell [nodeId]="nodeId"></app-parameters-shell>
</div>
