<div class="box is-fullheight">
  <button
    *ngIf="node.canDelete"
    type="button"
    class="delete is-pulled-right"
    (click)="deleteNode.emit(node.id)"
  ></button>

  <div class="content">
    <h3 class="title is-5">{{ node.id }}</h3>
  </div>
  <app-help-message *ngIf="node.helpText"> {{ node.helpText }} </app-help-message>
  <ng-container *ngIf="node.numberInputs">
    <div class="content" *ngIf="node.sourceIds?.length">
      <div class="label">Connected inputs</div>
      <ul>
        <li *ngFor="let sourceNode of node.sourceIds">
          <span class="tag"
            >{{ sourceNode }}
            <button
              class="delete is-small"
              type="button"
              (click)="disconnectNode(sourceNode)"
            ></button
          ></span>
        </li>
      </ul>
    </div>
    <form [formGroup]="connectNodeForm" (ngSubmit)="submitNodeConnectionForm()">
      <div class="field">
        <div class="control is-expanded">
          <div class="select is-fullwidth">
            <select
              name="new-input"
              id="{{ node.id }}-new-input"
              formControlName="selectedSourceNode"
              (change)="submitNodeConnectionForm()"
            >
              <option value="" disabled selected hidden>Add Node Input</option>
              <option
                *ngIf="!availableSourceNodes?.length && node.sourceIds?.length"
                value=""
                disabled
                >No more nodes available</option
              >
              <option
                *ngIf="!availableSourceNodes?.length && !node.sourceIds?.length"
                value=""
                disabled
                >No other nodes in graph</option
              >
              <option
                *ngFor="let sourceNode of availableSourceNodes"
                value="{{ sourceNode }}"
              >
                {{ sourceNode }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </form>
  </ng-container>

  <app-parameters-shell [nodeId]="node.id"></app-parameters-shell>
</div>
