<button (click)="toggleGraphOutputEnabled.emit(!graphOutputEnabled)">
  {{ graphOutputEnabled ? 'Mute' : 'Unmute' }}
</button>
<div class="audio-graph">
  <div class="audio-node" *ngFor="let node of nodes; trackBy: getNodeId">
    <app-audio-node
      [nodeId]="node.id"
      [nodeType]="node.nodeType"
      [connectedSourceNodes]="node.sourceIds"
      [numberInputs]="node.numberInputs"
      [numberOutputs]="node.numberOutputs"
      [canDelete]="node.canDelete"
      [availableSourceNodes]="filterSourceNodes(node)"
      (connectSourceNode)="connectNodes.emit($event)"
      (disconnectSourceNode)="disconnectNodes.emit($event)"
      (deleteNode)="deleteNode.emit($event)"
    ></app-audio-node>
  </div>
</div>
<button (click)="createOscillator.emit()">Add Oscillator Node</button>
<button (click)="createGainNode.emit()">Add Gain Node</button>
