<h2 class="title is-3">Graph controls</h2>
<app-help-message><p>You may need to click unmute to get started. Due to some browsers' autoplay policies, the app is not always allowed to start playing audio immediately.</p></app-help-message>
<div class="level">
  <div class="buttons">
    <button
      class="button"
      (click)="toggleGraphOutputEnabled.emit(!graphOutputEnabled)"
    >
      {{ graphOutputEnabled ? 'Mute' : 'Unmute' }}
    </button>
    <app-toggle-help></app-toggle-help>
  </div>
</div>
<app-help-message>
  <p>
    This is a modular synth that allows you to build up your own audio graph.
  </p>
  <p>Use the buttons below to add nodes to the graph.</p>
</app-help-message>
<div class="level">
  <div class="buttons">
    <button class="button" (click)="createOscillator.emit()">
      Add Oscillator Node
    </button>
    <button class="button" (click)="createGainNode.emit()">
      Add Gain Node
    </button>
    <button class="button" (click)="createConstantSource.emit()">
      Add Constant Source
    </button>
    <button class="button" (click)="createDelayNode.emit()">
      Add Delay Node
    </button>
    <button class="button" (click)="createFilterNode.emit()">
      Add Filter Node
    </button>
    <button class="button" (click)="createDistortionNode.emit()">
      Add Distortion Node
    </button>
    <button class="button" (click)="createRectifierNode.emit()">
      Add Rectifier Node
    </button>
  </div>
</div>
<h2 class="title is-3">Audio Nodes</h2>
<app-errors-shell></app-errors-shell>
<app-help-message>
  <p>
    Nodes of the graph either produce or process signals based on some
    parameters.
  </p>
  <p>
    A node's input and parameters may be connected to the output from one or more other nodes.
  </p>
  <p>If multiple connections end at the same point, the signals are summed.</p>
</app-help-message>

<div class="columns is-multiline">
  <div
    class="column is-one-fifth-fullhd is-one-quarter-desktop is-half-tablet"
    *ngFor="let node of nodes; trackBy: getNodeId"
  >
    <app-audio-node
      [node]="node"
      [availableSourceNodes]="filterSourceNodes(node)"
      (connectSourceNode)="connectNodes.emit($event)"
      (disconnectSourceNode)="disconnectNodes.emit($event)"
      (deleteNode)="deleteNode.emit($event)"
    ></app-audio-node>
  </div>
</div>
