<ng-container *ngIf="(audioNodes$ | async) as audioNodes">
  <app-audio-node-list
    [nodes]="audioNodes"
    [sourceNodes]="audioNodes"
    [graphOutputEnabled]="graphOutputEnabled$ | async"
    (createOscillator)="addOscillator()"
    (createGainNode)="addGainNode()"
    (createDistortionNode)="addDistortionNode()"
    (createConstantSource)="addConstantSource()"
    (connectNodes)="connectNodes($event)"
    (disconnectNodes)="disconnectNodes($event)"
    (toggleGraphOutputEnabled)="toggleGraphOutputEnabled($event)"
    (deleteNode)="deleteNode($event)"
  ></app-audio-node-list>
</ng-container>
