@import '../../../../variables';
svg.control-surface {
  max-width: 100%;
  border: 1px solid $grey-lighter;

  .current-user-value {
    fill: #00aadd;
    stroke: #00aadd;
  }
}
.selected-values {
  width: 600px;
  max-width: 100%
}
