@import '../../../../variables';

.indicator {
  width: 0.75rem;
  height: 0.75rem;
  background-color: $trigger-inactive;
  border-radius: 50%;
  margin-left: 0.5rem;
  &.is-on {
    background-color: $trigger-active;
  }
}
