<ng-container
  *ngFor="let visualization of visualizations; trackBy: getVisualizationIdentity"
>
  <app-line-graph-visualization *ngIf="visualization.visualizationType === 'line-graph'"
    [visualization]="visualization"
    (toggleActive)="toggleActive.emit($event)"
  ></app-line-graph-visualization>
  <app-envelope-visualization *ngIf="visualization.visualizationType === 'envelope'"
    [visualization]="visualization"
    (toggleActive)="toggleActive.emit($event)"
  ></app-envelope-visualization>
</ng-container>
