<div
  class="content"
  *ngFor="let parameter of choiceParameters; trackBy: getParameterId"
>
  <app-choice-parameter
    [parameter]="parameter"
    (updateParameterValue)="updateChoiceParameterValue.emit($event)"
  ></app-choice-parameter>
</div>
<div
  class="content"
  *ngFor="let parameter of parameters; trackBy: getParameterId"
>
  <app-parameter
    [parameter]="parameter"
    [availableSourceNodes]="filterSourceNodes(parameter)"
    (updateParameterValue)="updateParameterValue.emit($event)"
    (connectSourceNode)="connectParameter.emit($event)"
    (disconnectSourceNode)="disconnectParameter.emit($event)"
  ></app-parameter>
</div>
