<div class="box is-fullheight">
  <button
    *ngIf="module.canDelete"
    type="button"
    class="delete is-pulled-right"
    (click)="deleteModule.emit(module.id)"
  ></button>

  <div class="content">
    <h3 class="title is-5">{{ module.id }}</h3>
  </div>
  <app-help-message *ngIf="module.helpText"> {{ module.helpText }} </app-help-message>
  <app-visualizations-shell [moduleId]="module.id"></app-visualizations-shell>
  <app-inputs-shell [moduleId]="module.id"></app-inputs-shell>
  <app-parameters-shell [moduleId]="module.id"></app-parameters-shell>
</div>
