// dark-mode hack

$black: hsl(0, 000%, 100%);
$black-bis: hsl(0, 000%, 098%);
$black-ter: hsl(0, 000%, 096%);
$grey-darker: hsl(0, 000%, 086%);
$grey-dark: hsl(0, 000%, 071%);
$grey: hsl(0, 000%, 048%);
$grey-light: hsl(0, 000%, 029%);
$grey-lighter: hsl(0, 000%, 021%);
$white-ter: hsl(0, 000%, 014%);
$white-bis: hsl(0, 000%, 007%);
$white: hsl(0, 000%, 004%);

// notifications

$cyan: $grey-light;

// waste less space

$section-padding: 1rem 1rem;
$box-padding: 1rem;
$block-spacing: 0.5rem;

// colours

$trigger-active: green;
$trigger-inactive: black;
