/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import 'bulma/bulma.sass';

.box.is-fullheight {
  height: 100%;
}

.middle-me-this {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
